/*******************************************************************************
 * Footer styles
 ******************************************************************************/

footer.fixed-bottom {
  background-color: var(--global-bg-color);
  border-top: 1px solid var(--global-divider-color);
  font-size: 0.75rem;

  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
  }

  a {
    color: var(--global-footer-link-color);

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 2.4rem;
  padding-bottom: 2.6rem;
  margin-top: 4rem;
  font-size: 0.84rem;
  color: var(--global-footer-text-color);

  .container {
    text-align: center;
    color: var(--global-footer-text-color);
    max-width: 46rem;
  }

  a {
    color: var(--global-footer-link-color);

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}
